/*

https://www.google.com/design/spec/style/color.html#color-color-palette

*/

html {
	font-family: monospace;
	font-size: 14px;
}

body {
	padding: 0 10px;
	margin: 0 auto;
	max-width: 490px;
}

h1 {
	color: #343434;
}

a {
	cursor: pointer;
	color: #333;
}