/*

https://www.google.com/design/spec/style/color.html#color-color-palette

*/

html {
	font-family: Helvetica, sans-serif;
}

body {
	margin: 0 auto;
}

textarea {
	width: 100%;
    box-sizing: border-box;
}

@import "partials/header";
@import "partials/page";
@import "partials/editor";


a {
	cursor: pointer;
}