/*

https://www.google.com/design/spec/style/color.html#color-color-palette

*/
@import "partials/utils";

html {
	font-family: Helvetica, sans-serif;
}

body {
	@extend %draggable;
	margin: 0 auto;
}

button, a {
	@extend %non-draggable;
}

* {
	box-sizing: border-box;
}

textarea {
	width: 100%;
}

a {
	cursor: pointer;
}

@import "partials/header";
@import "partials/page";
@import "partials/editor";


