header {
	@extend %non-selectable;
	display: flex;
	align-items: center;
	background: #2196F3;
	padding: 15px;
	color: white;
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

header h1 {
	font-size: 1.1rem;
	font-weight: normal;
	flex: 1 2 auto;
}

.header-item {
	margin: 0 10px 0 0;
}

.mode-show {

	#go-show {
		display: none;
	}
	
}

.mode-editor {

	#go-edit {
		display: none;
	}
	
}
